{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}

{% block title %}{% if process == "connect" %}{% trans "Connect" %} {{ provider.name }}{% else %}{% trans "Sign in via" %} {{ provider.name }}{% endif %} – NewsBot{% endblock %}

{% block content %}
{% if process == "connect" %}
<h1>{% blocktrans with provider=provider.name %}Connect {{ provider }}{% endblocktrans %}</h1>
<p>{% blocktrans with provider=provider.name %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}</p>
{% else %}
<h1>{% blocktrans with provider=provider.name %}Sign in via {{ provider }}{% endblocktrans %}</h1>
<p>{% blocktrans with provider=provider.name %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}</p>
{% endif %}
<form method="post">
  {% csrf_token %}
  <button type="submit" class="btn-primary">{% trans "Continue" %}</button>
</form>
{% endblock %}
